@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #FDF8F6;
}

input, textarea, select {
    @apply appearance-none border-none bg-transparent outline-none;
    @apply resize-none;
}

.hoverLinkParent .linkToShow {
    display: none;
  }
  
  
  .hoverLinkParent:hover .linkToShow {
    display: flex;
  }

  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  